.about-section {
    padding: 60px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
  }
  
  .about-text {
    flex: 1;
    max-width: 600px;
  }
  
  .about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    position: relative;
  }
  
  .about-text h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #007bff;
    margin-top: 10px;
  }
  
  .about-quote {
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
  }
  
  .about-text p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-text ul {
    list-style: none;
    padding: 0;
  }
  
  
  .about-text ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #555;
  }
  
  .about-text ul li::before {
    /* content: "🚀"; */
    margin-right: 10px;
  }
  
  .about-image {
    flex: 1;
    max-width: 500px;
  }
  
  .about-image img {
    width: 100%;
    margin-top: 100px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  